.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 45px 15px;
  margin-top: 50px;
}

button.eye svg {
  fill: #FCFCFC;
  opacity: 0.4;
}

.divA {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.divA a {
  width: 100%;
}

.divA a button {
  width: 100%;
}

.divA button {
  width: 100px;
}


@media screen and (max-width: 550px) {
  .content {
    padding: 0px 15px;
  }
}